
  <mat-card style="width: 100%;" fxLayout="row" fxLayoutAlign="space-around center" class="mat-elevation-z4" style="margin: 20px;">

    <span style="align-self: center;color: gray;">Busqueda por fecha</span>

    <mat-form-field  appearance="outline" style="width: 20%;margin-bottom: -20px;padding-right: 10px;">
      <mat-label>Fecha de emisión</mat-label>
      <input matInput [matDatepicker]="picker1" placeholder="dd/mm/yyyy" required
      (value)="fechaingreso" [formControl]="fechainicio">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 20%;margin-bottom: -20px;">
      <mat-label>Fecha de vencimiento</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy" required
      (value)="fechaingreso" [formControl]="fechafin">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button (click)="buscarfecha()" color="accent">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-raised-button color="primary" style=" margin: 15px; color:white;" (click)="reportecaja()">
      <mat-icon style="margin-right: 5px;">picture_as_pdf</mat-icon>Generar reporte
    </button>

  </mat-card>

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Ingrese los datos a buscar">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idcomprobante">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Serie </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.serienombre}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="correlativo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Correlativo </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.correlativo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipocomprobante">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tipocomprobante.nomenclatura}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Importe </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.total|currency:'S/ '}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaemision">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha emision </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fechaemision|date:"dd-MM-yyyy"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estadointerno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.estadointerno}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="abrirDialogo(row)" ><mat-icon>ballot</mat-icon></button>
        <button mat-button color="warn" (click)="eliminar(row)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>

<br>

<ngx-extended-pdf-viewer *ngIf="cp!=''" [src]="cp" [useBrowserLocale]="false" height="80vh"></ngx-extended-pdf-viewer>
<link rel="cp" type="application/110n"/>
