<router-outlet></router-outlet>

<div class="example-container mat-elevation-z8">

<table mat-table [dataSource]="dataSource" matSort >

      <ng-container matColumnDef="idcirujia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.idcirujia}} </td>
      </ng-container>

      <ng-container matColumnDef="paciente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
          <td mat-cell *matCellDef="let element"> {{element.pacienteanimal.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="propietario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario </th>
        <td mat-cell *matCellDef="let element"> {{element.pacienteanimal.cliente.nombresyapellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
        <td mat-cell *matCellDef="let element">
          <a style="color: green;padding-top: 5px;"
          href="https://wa.me/+51{{element.pacienteanimal.cliente.telefono}}?text=Me%20interesa%20el%20auto%20que%20estás%20vendiendo" target="_blank">
            <mat-icon style="color: green;margin-top: 10px;">whatsapp</mat-icon>
          </a>
          {{element.pacienteanimal.cliente.telefono}}
        </td>
      </ng-container>

      <ng-container matColumnDef="intervencion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Intervención </th>
        <td mat-cell *matCellDef="let element"> {{element.intervencion}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha|date:"shortDate"}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="abrirDialogo(element)">
                  <mat-icon>ballot</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="eliminar(element.idregdesparasitacion)">
                  <mat-icon>delete</mat-icon>
              </button>
          </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    [length]="cantidad" (page)="mostrarMas($event)">
</mat-paginator>

</div>

<br>
<button mat-fab color="accent" style="float: right; margin-right: 20px" (click)="abrirDialogo()" >
    <mat-icon>add</mat-icon>
</button>

