<div class="example-container">
  <mat-form-field color="primary" >
      <input matInput placeholder="Nombre del examen" required [(ngModel)]="examenmedico.descripcion">
  </mat-form-field>
  <div class="botones">
    <button class="button" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
    <button class="button" mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>
  </div>
</div>


