
<router-outlet></router-outlet>

<div class="example-container mat-elevation-z8">
<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar paciente">
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="numerohistoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° H. </th>
        <td mat-cell *matCellDef="let element"> {{element.numerohistoria}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="raza">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Raza </th>
      <td mat-cell *matCellDef="let element"> {{element.raza}} </td>
    </ng-container>

    <ng-container matColumnDef="propietario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario </th>
      <td mat-cell *matCellDef="let element"> {{element.cliente.nombresyapellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
      <td mat-cell *matCellDef="let element">
        <a style="color: green;padding-top: 5px;"
        href="https://wa.me/+51{{element.cliente.telefono}}?text=Me%20interesa%20el%20auto%20que%20estás%20vendiendo" target="_blank">
          <mat-icon style="color: green;margin-top: 10px;">whatsapp</mat-icon>
        </a>
        {{element.cliente.telefono}}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="abrirDialogo(element)">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-button color="warn" (click)="eliminar(element.idpacienteanimal)">
                <mat-icon>delete</mat-icon>
            </button>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    [length]="cantidad" (page)="mostrarMas($event)">
</mat-paginator>

</div>

<br>
<button mat-fab color="accent" style="float: right; margin-right: 20px" (click)="abrirDialogo()" >
    <mat-icon>add</mat-icon>
</button>
