


  <mat-tab-group>

    <mat-tab label="Datos generales">
      <div class="example-container">

        <mat-accordion >
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" style="margin-bottom: 15px;">
            <mat-expansion-panel-header style="background: rgb(255, 249, 164);">
              <mat-panel-title>
                Busqueda de propietario
              </mat-panel-title>
              <mat-panel-description>
                Click para buscar al cliente
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div style="margin-top: 10px;">
              <mat-form-field appearance="outline" style="width: 30%;padding-right: 15px;">
                <mat-label>Busqueda por propietario</mat-label>
                <input matInput placeholder="Nombre o DNI" [(ngModel)]="nombreodni" >
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 30%;padding-right: 15px;">
                <mat-label>Busqueda por mascota</mat-label>
                <input matInput placeholder="Nombre del animal" [(ngModel)]="nombreanimal" >
              </mat-form-field>
              <button mat-raised-button color="accent" (click)="buscarpaciente()">
                <mat-icon>person_search</mat-icon>
              </button>
            </div>

            <div class="mat-elevation-z2">

              <table mat-table [dataSource]="dataSource" matSort >

                  <ng-container matColumnDef="historia">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° H. </th>
                      <td mat-cell *matCellDef="let element"> {{element.numerohistoria}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.cliente.nombresyapellidos}} </td>
                </ng-container>

                  <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef> Acciones </th>
                      <td mat-cell *matCellDef="let element">
                          <button mat-raised-button color="accent" (click)="agregar(element)" (click)="accordion.closeAll()">
                              <mat-icon>checked</mat-icon>
                          </button>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>

              <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>

            </div>

          </mat-expansion-panel>
        </mat-accordion>



        <form [formGroup]="form" #consultaForm="ngForm" (ngSubmit)="aceptar()">

          <mat-form-field appearance="outline" >
            <input matInput placeholder="paciente" formControlName="paciente" readonly>
          </mat-form-field>

          <mat-form-field style="width: 40%;" appearance="outline">
            <mat-label>Personal Veterinario</mat-label>
            <input type="text" placeholder="Busque al médico veterinario" matInput
            [matAutocomplete]="autoPersonal"
            [formControl]="MycontrolTipo" formControlName="personalveterinario">

            <mat-autocomplete #autoPersonal="matAutocomplete" [displayWith]="mostrarPersonalveterinario">
                <mat-option *ngFor="let m of personalveterinarioFiltrados$ | async" [value]="m">
                    {{ m.nombrespersonal }}
                </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div hidden= "true">
          <mat-form-field >
            <input matInput placeholder="id" formControlName="id">
          </mat-form-field>
          </div>

          <mat-form-field appearance="outline" >
            <mat-label>Motivo de consulta</mat-label>
            <input matInput placeholder=""  required formControlName="motivo" >
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>Sintomatología</mat-label>
            <input matInput placeholder="inicio"  formControlName="signossintomas">
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 20%;">
            <mat-label>Inicio de los sintomas</mat-label>
            <input matInput placeholder="inicio"  formControlName="inicio">
          </mat-form-field>

          <mat-form-field  appearance="outline" style="width: 20%;margin-bottom: -20px;padding-right: 10px;">
            <mat-label>Fecha de atención</mat-label>
            <input matInput [matDatepicker]="picker1" placeholder="dd/mm/yyyy" required
            (value)="fechaingreso" [formControl]="fecha1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>Receta</mat-label>
            <textarea rows="5" matInput placeholder="receta"  formControlName="receta"></textarea>
          </mat-form-field>

          </form>


        </div>

    </mat-tab>

    <!-- constantes fisiologicas -->
    <mat-tab label="Constantes Fisiológicas">

      <div class="example-container">
      <mat-accordion >
        <mat-expansion-panel style="margin-bottom: 15px;">
          <mat-expansion-panel-header style="background-color: rgb(101, 255, 222);">
            <mat-panel-title>
              Registro
            </mat-panel-title>
            <mat-panel-description>
              Click para ingresar constantes fisiológicas
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form [formGroup]="form2" #constantesForm="ngForm" (ngSubmit)="agregarconstante()" style="margin-top: 10px;">

            <mat-form-field  appearance="outline" style="width: 23%;">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker3" placeholder="dd/mm/yyyy" required
              [formControl]="fecha3">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 23%;">
              <mat-label>Conciente</mat-label>
              <mat-select placeholder="Conciente"
                  formControlName="consciente" required>
                  <mat-option *ngFor="let u of concientes" [value]="u">
                      {{ u }}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 23%;">
              <mat-label>Hidratación</mat-label>
              <mat-select placeholder="Hidratación"
                  formControlName="hidratacion" required>
                  <mat-option *ngFor="let u of hidrataciones" [value]="u">
                      {{ u }}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 23%;">
              <mat-label>mucosas</mat-label>
              <input matInput placeholder="mucosas"  formControlName="mucosas">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 23%;">
              <mat-label>peso</mat-label>
              <input matInput placeholder="peso"  formControlName="peso">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 23%;">
              <mat-label>fc</mat-label>
              <input matInput placeholder="fc"  formControlName="fc">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 23%;">
              <mat-label>fr</mat-label>
              <input matInput placeholder="fr"  formControlName="fr">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 23%;">
              <mat-label>fp</mat-label>
              <input matInput placeholder="fp"  formControlName="fp">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 23%;">
              <mat-label>tllc</mat-label>
              <input matInput placeholder="tllc"  formControlName="tllc">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 40%;">
              <mat-label>temperatura</mat-label>
              <textarea rows="5" matInput placeholder="temperatura"  formControlName="temperatura"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 40%;">
              <mat-label>descripcionexamen</mat-label>
              <textarea rows="5" matInput placeholder="descripcionexamen"  formControlName="descripcionexamen"></textarea>
            </mat-form-field>
          </form>

          <div class="botones">
            <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="agregarconstante()">Agregar</button>
            <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="limpiar()">Cancelar</button>
          </div>

        </mat-expansion-panel>
      </mat-accordion>

      <div class="example-container2 mat-elevation-z3">

        <table mat-table [dataSource]="dataSource2" matSort>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let row"> {{row.fecha|date:"dd/MM/yy"}} </td>
          </ng-container>

          <ng-container matColumnDef="consciente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Conciente </th>
            <td mat-cell *matCellDef="let row"> {{row.consciente}} </td>
          </ng-container>

          <ng-container matColumnDef="hidratacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hidratación </th>
            <td mat-cell *matCellDef="let row"> {{row.hidratacion}} </td>
          </ng-container>

          <ng-container matColumnDef="mucosas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mucosas </th>
            <td mat-cell *matCellDef="let row"> {{row.mucosas}} </td>
          </ng-container>

          <ng-container matColumnDef="peso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso </th>
            <td mat-cell *matCellDef="let row"> {{row.peso}} </td>
          </ng-container>

          <ng-container matColumnDef="frecuenciacardiaca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> F.C. </th>
            <td mat-cell *matCellDef="let row"> {{row.frecuenciacardiaca}} </td>
          </ng-container>

          <ng-container matColumnDef="frecuenciarespiratoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> F.R. </th>
            <td mat-cell *matCellDef="let row"> {{row.frecuenciarespiratoria}} </td>
          </ng-container>

          <ng-container matColumnDef="pulso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> F.P. </th>
            <td mat-cell *matCellDef="let row"> {{row.pulso}} </td>
          </ng-container>

          <ng-container matColumnDef="tllenadocapilar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> T.LL.C. </th>
            <td mat-cell *matCellDef="let row"> {{row.tllenadocapilar}} </td>
          </ng-container>

          <ng-container matColumnDef="temperaturas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> T° / HORA </th>
            <td mat-cell *matCellDef="let row"> {{row.temperaturas}} </td>
          </ng-container>

          <ng-container matColumnDef="descripcionexamen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Examen clínico </th>
            <td mat-cell *matCellDef="let row"> {{row.descripcionexamen}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones1">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let row">
              <button mat-button color="warn" (click)="eliminarconst(row)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    </mat-tab>

  </mat-tab-group>

  <div class="botones">
    <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="aceptar()">Aceptar</button>
    <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
  </div>
