.mat-form-field{
  width: 40%;
  padding: 0  5%  0  5%;
}

.example-container{
  max-height: 500px;
  overflow-y: scroll;
}

.botones{
  margin: 5px 10px 5px 0px;
}

.buttonaceptar{
  margin: 1% 5% 1% 5%;
}

.buttoncancelar{
  margin: 1% 4% 1% 4%;
}

.example-container::-webkit-scrollbar{
  width: 5px;     /* Tamaño del scroll en vertical */
  height: 5px;    /* Tamaño del scroll en horizontal */
}

/* Cambiamos el fondo cuando esté en active */
.example-container::-webkit-scrollbar-thumb:active {
  background-color: #c5c3c3;
}

.example-container::-webkit-scrollbar-thumb {
  background: #a7ffeb;
  opacity: 50%;
  border-radius: 4px;
}

.example-container::-webkit-scrollbar-track{
  background: #c5c3c3;
  border-radius: 4px;
}

.obs{
  display: flex;
  flex-direction: column;
  min-width: 90%;
}

.example-full-width{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 0 15px 0 15px;

}

table {
  width: 100%;
}

.mat-column-historia {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-nombre {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-cliente {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-acciones {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 20px 20px 10px 20px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table{
  overflow: auto;
  max-height: 500px;
  width: 100%;
}

.mat-form-field{
  width: 40%;
  padding: 0  5%  0  5%;
}

.example-container{
  max-height: 500px;
  overflow-y: scroll;
}

.botones{
  margin: 5px 10px 5px 0px;
}

.buttonaceptar{
  margin: 1% 5% 1% 5%;
}

.buttoncancelar{
  margin: 1% 4% 1% 4%;
}

.example-container::-webkit-scrollbar{
  width: 5px;     /* Tamaño del scroll en vertical */
  height: 5px;    /* Tamaño del scroll en horizontal */
}

/* Cambiamos el fondo cuando esté en active */
.example-container::-webkit-scrollbar-thumb:active {
  background-color: #c5c3c3;
}

.example-container::-webkit-scrollbar-thumb {
  background: #a7ffeb;
  opacity: 50%;
  border-radius: 4px;
}

.example-container::-webkit-scrollbar-track{
  background: #c5c3c3;
  border-radius: 4px;
}

.obs{
  display: flex;
  flex-direction: column;
  min-width: 90%;
}

.example-full-width{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 0 15px 0 15px;

}








.example-container2 {
  max-width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

th{
  vertical-align: middle;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
