<div class="example-container">

  <mat-form-field>
      <input matInput placeholder="RUC" required [(ngModel)]="empresa.ruc">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Razón social" required [(ngModel)]="empresa.razonsocial">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Nombre comercial" required [(ngModel)]="empresa.nombrecomercial">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="PaÍs" required [(ngModel)]="empresa.pais">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Departamento" required [(ngModel)]="empresa.departamento">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Provincia" required [(ngModel)]="empresa.provincia">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Distrito" required [(ngModel)]="empresa.distrito">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Ubigeo" required [(ngModel)]="empresa.ubigeo">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Usuario sol" required [(ngModel)]="empresa.usuariosol">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Clave sol" required [(ngModel)]="empresa.clavesol">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Teléfono" required [(ngModel)]="empresa.telefono">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dirección" required [(ngModel)]="empresa.direccion">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Código establecimiento" required [(ngModel)]="empresa.codigoestablecimiento">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Sucursal" required [(ngModel)]="empresa.sucursal">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Link" required [(ngModel)]="empresa.link">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Croquis" required [(ngModel)]="empresa.croquis">
  </mat-form-field>

  <div class="botones">
    <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="operar()">Aceptar</button>
    <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
  </div>

</div>

