.mat-form-field{
  width: 40%;
  padding: 0  5%  0  5%;
}

.example-container{
  max-height: 500px;
  overflow-y: scroll;
}

.botones{
  margin: 5px 10px 5px 0px;
}

.buttonaceptar{
  margin: 1% 5% 1% 5%;
}

.buttoncancelar{
  margin: 1% 4% 1% 4%;
}

.example-container::-webkit-scrollbar{
  width: 5px;     /* Tamaño del scroll en vertical */
  height: 5px;    /* Tamaño del scroll en horizontal */
}

/* Cambiamos el fondo cuando esté en active */
.example-container::-webkit-scrollbar-thumb:active {
  background-color: #c5c3c3;
}

.example-container::-webkit-scrollbar-thumb {
  background: #a7ffeb;
  opacity: 50%;
  border-radius: 4px;
}

.example-container::-webkit-scrollbar-track{
  background: #c5c3c3;
  border-radius: 4px;
}

.obs{
  display: flex;
  flex-direction: column;
  min-width: 90%;
}

.example-full-width{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 0 15px 0 15px;

}
