<div class="example-container" >
  <form [formGroup]="form" #consultaForm="ngForm" (ngSubmit)="aceptar()" fxLayout="row" fxLayoutAlign="space-between">

    <mat-form-field appearance="outline" style="width: 50%;">
      <mat-label>Código</mat-label>
      <input matInput placeholder="Código" required formControlName="codigo">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Nomenclatura</mat-label>
      <input matInput placeholder="Ejemplo: Boleta" required formControlName="nomenclatura">
    </mat-form-field>

    <div hidden= "true">
    <mat-form-field >
      <input matInput placeholder="id" formControlName="id">
    </mat-form-field>
    </div>

  </form>


</div>

<div class="botones">
  <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="aceptar()">Aceptar</button>
  <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
</div>
