<div class="example-container">
<form [formGroup]="form" #consultaForm="ngForm" (ngSubmit)="aceptar()">

  <mat-form-field style="width: 40%;" appearance="outline">
    <mat-label>Proveedor</mat-label>
    <input type="text" placeholder="Busque al proveedor del producto" matInput
    [matAutocomplete]="autoProveedor"
    [formControl]="MycontrolTipo" formControlName="proveedores">

    <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="mostrarProveedor">
        <mat-option *ngFor="let m of proveedorFiltrados$ | async" [value]="m">
            {{ m.nombre }}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 20%;">
    <mat-label>Stock inicial</mat-label>
    <input matInput placeholder="0" type="number" required formControlName="stockinicial">
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 20%;">
    <mat-label>Cantidad</mat-label>
    <input matInput placeholder="0" type="number" required formControlName="cantidad">
  </mat-form-field>

  <div hidden= "true">
  <mat-form-field >
    <input matInput placeholder="id" formControlName="id">
  </mat-form-field>
  </div>

  <mat-form-field appearance="outline" >
    <mat-label>Nombre del producto</mat-label>
    <input matInput placeholder="Ejemplo: juguete marca talla"  required formControlName="nombre" >
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 20%;">
    <mat-label>Código de barras</mat-label>
    <input matInput placeholder="0000001"  formControlName="codigobarras">
  </mat-form-field>



  <mat-form-field  appearance="outline">
    <mat-label>Presentación</mat-label>
    <input matInput placeholder="Botella de 100 ml" formControlName="presentacion">
  </mat-form-field>

  <mat-form-field  appearance="outline" style="width: 20%;">
    <mat-label>Precio de ingreso</mat-label>
    <input matInput placeholder="precioingreso" type="number" formControlName="precioingreso">
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 20%;">
    <mat-label>Precio de venta</mat-label>
    <input matInput placeholder="valor unitario" required type="number" formControlName="valorunitario">
  </mat-form-field>

  <mat-form-field  appearance="outline" style="width: 20%;">
    <mat-label>Marca</mat-label>
    <input matInput placeholder="marcaproducto" formControlName="marcaproducto">
  </mat-form-field>

  <mat-form-field  appearance="outline" style="width: 15%;">
    <mat-label>Lote del producto</mat-label>
    <input matInput placeholder="loteproducto" formControlName="loteproducto">
  </mat-form-field>

  <mat-form-field  appearance="outline" style="width: 20%;">
    <mat-label>Fecha de ingreso</mat-label>
    <input matInput [matDatepicker]="picker1" placeholder="dd/mm/yyyy" required
    (value)="fechaingreso" [max]="maxFecha" formControlName="fechaingreso">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 20%;">
    <mat-label>Fecha de vencimiento</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy"
    (value)="fechavencimiento" formControlName="fechavencimiento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>



  <mat-form-field appearance="outline" style="width: 20%;">
    <mat-label>Tipo de afectación</mat-label>
    <mat-select placeholder="" [(value)]="tipoafectacionSeleccionado"
        formControlName="tipoafectacion" required >
        <mat-option *ngFor="let t of tipoafectaciones" [value]="t.idtipoafectacion">
            {{ t.descripcion }}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 15%;">
    <mat-label>Unidad</mat-label>
    <mat-select placeholder="" [(value)]="unidadSeleccionado" required
        formControlName="unidad">
        <mat-option *ngFor="let u of unidades" [value]="u.idunidad">
            {{ u.descripcion }}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 20%;">
    <mat-label>Categoría del producto</mat-label>
    <mat-select placeholder="Categoría de producto" [(value)]="categoriaproductoSeleccionado"
        formControlName="categoriaproducto" required>
        <mat-option *ngFor="let u of categoriaproductos" [value]="u.idcategoriaproducto">
            {{ u.nombre }}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 20%;">
    <mat-label>Sub categoría del producto</mat-label>
    <mat-select placeholder="Sub categoria" [(value)]="subSeleccionado"
        formControlName="subcategoria" required>
        <mat-option *ngFor="let u of subcategorias" [value]="u">
            {{ u }}
        </mat-option>
    </mat-select>
  </mat-form-field>

  </form>

  <div class="botones">
    <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="aceptar()">Aceptar</button>
    <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
  </div>
</div>
