
<div class="example-container" >
  <mat-toolbar style="background-color:#398c8d;color:white;" class="example-toolbar" >
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon style="color: rgb(255, 255, 191);" *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon style="color: rgb(255, 255, 191);" *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <h1 class="example-app-name" style="color: rgb(255, 255, 191);">Patotas Pet's - Sistema Veterinario</h1>

      <span class="example-spacer"></span>



      <button mat-raised-button style="margin-left: 5px;margin-right: 5px;background: rgb(9, 78, 69);color:rgb(255, 255, 193);"
      (click)="onSetTheme('dark-theme')">
        <span>Modo dark</span>
      </button>
      <button mat-raised-button style="margin-left: 5px;margin-right: 5px;background: rgb(255, 255, 191);color:black"
      (click)="onSetTheme('light-theme')">
        <span>Modo light</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" style="color: rgb(255, 255, 191);">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink='/pages/perfil'>
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)="cerrarSesion()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container" >
      <mat-sidenav class="menu-tab" #sidenav mode="push" >
        <button mat-button style="margin: 0 auto; width: 100%;" routerLink="/pages/inicio" (click)="sidenav.toggle()">
          <img src="assets/Halican.png" width="128" style="width:150px">
        </button>

          <div *ngFor="let m of menus">
              <button mat-menu-item (click)="sidenav.toggle()" routerLink="{{m.url}}" style="cursor: pointer" >
                  <mat-icon style="color: rgb(58, 199, 180);">{{m.icono}}</mat-icon>
                  <span >{{m.nombre}}</span>
              </button>
              <mat-divider></mat-divider>
          </div>
      </mat-sidenav>

      <mat-sidenav-content>
         <router-outlet></router-outlet>
      </mat-sidenav-content>


  </mat-sidenav-container>
</div>
