
<button style="width: 100%;" mat-raised-button color="accent" (click)="cerrar()">
  <span class="material-icons-outlined">
  cancel
  </span>
  FINALIZAR LA VENTA
</button>
<ngx-extended-pdf-viewer *ngIf="cp!=''" [src]="cp" [useBrowserLocale]="false" height="80vh"></ngx-extended-pdf-viewer>
<link rel="cp" type="application/110n"/>

