
<div class="inicio" >
    <span style="text-align: center;width: 100%;padding:4%;">
    <h1 style="font-weight: 400;
    color: rgb(16, 138, 122);
    font-size: 20px;">Bienvenido usuario</h1>
    <h1 style="font-weight: 700;
    color: rgb(16, 138, 122);
    font-size: 40px;">  "{{usuario|uppercase }}"</h1>
    </span>
</div>

