.inicio{
  background-image: url(../../../assets/mascotas-1024x1024.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  display: flex;
  width: 100%;
  height: 100%;
  content: cover;
}

.ima{
  position: fixed;
  z-index: -10;
  width: 100%;
}
