<router-outlet></router-outlet>

<div class="example-container mat-elevation-z8">
<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar producto">
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="idconsulta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idconsulta}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </th>
        <td mat-cell *matCellDef="let element"> {{element.pacienteanimal.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="historia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> historia </th>
      <td mat-cell *matCellDef="let element"> {{element.pacienteanimal.numerohistoria}} </td>
  </ng-container>

    <ng-container matColumnDef="personalveterinario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Veterinario </th>
      <td mat-cell *matCellDef="let element"> {{element.personalveterinario.nombrespersonal}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
      <td mat-cell *matCellDef="let element"> {{element.fecha|date:"dd/MM/yy"}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="abrirDialogo(element)">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-button color="warn" (click)="eliminar(element.idconsulta)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    [length]="cantidad" (page)="mostrarMas($event)">
</mat-paginator>

</div>

<br>
<button mat-fab color="accent" style="float: right; margin-right: 20px" (click)="abrirDialogo()" >
    <mat-icon>add</mat-icon>
</button>
