<div class="example-container">
  <mat-form-field>
      <input matInput placeholder="Descripción" required [(ngModel)]="tipodocumento.descripcion">
  </mat-form-field>
  <div class="botones">
    <button class="button" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
    <button class="button" mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>
  </div>
</div>
