

<div>
  <mat-form-field appearance="outline" style="width: 50%;padding-right: 15px;">
    <mat-label>Busqueda por nombre o dni</mat-label>
    <input matInput placeholder="nombre o dni" [(ngModel)]="nombreodni" required>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="Buscarcliente()">
    <mat-icon>person_search</mat-icon>
  </button>
  <button mat-button color="warn" style="float: right" (click)="cerrar()" >
    <mat-icon>close</mat-icon>
  </button>
</div>


<div class="example-container mat-elevation-z2">

  <table mat-table [dataSource]="dataSource" matSort >

      <ng-container matColumnDef="idcliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.idcliente}} </td>
      </ng-container>

      <ng-container matColumnDef="nombresyapellidos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
          <td mat-cell *matCellDef="let element"> {{element.nombresyapellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

      <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="accent" (click)="agregar(element)">
                  <mat-icon>checked</mat-icon>
              </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

  </div>

  <br>


