<router-outlet></router-outlet>

<div class="example-container mat-elevation-z8">
<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar producto">
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="codigobarras">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigobarras}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cant. </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="fechavencimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> F. venc. </th>
      <td mat-cell *matCellDef="let element"
      [ngClass]="{'vencido': 1 == vencimiento(element.fechavencimiento),
      'porvencer': 2 == vencimiento(element.fechavencimiento),
      'normal': 3 == vencimiento(element.fechavencimiento) }"> {{element.fechavencimiento}} </td>
    </ng-container>

    <ng-container matColumnDef="presentacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Present. </th>
      <td mat-cell *matCellDef="let element" > {{element.presentacion}} </td>
    </ng-container>

    <ng-container matColumnDef="precioingreso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> P. ingreso </th>
      <td mat-cell *matCellDef="let element"> {{element.precioingreso}} </td>
    </ng-container>

    <ng-container matColumnDef="valorunitario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> V. unitario </th>
      <td mat-cell *matCellDef="let element"> {{element.valorunitario}} </td>
    </ng-container>

    <ng-container matColumnDef="loteproducto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lote </th>
      <td mat-cell *matCellDef="let element"> {{element.loteproducto}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="abrirDialogo(element)">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminar(element.idproducto)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    [length]="cantidad" (page)="mostrarMas($event)">
</mat-paginator>

</div>

<br>
<button mat-fab color="accent" style="float: right; margin-right: 20px" (click)="abrirDialogo()" >
    <mat-icon>add</mat-icon>
</button>
