<router-outlet></router-outlet>

<div class="example-container mat-elevation-z8">
<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar cliente">
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="idcliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idcliente}} </td>
    </ng-container>

    <ng-container matColumnDef="nombresyapellidos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
        <td mat-cell *matCellDef="let element"> {{element.nombresyapellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
      <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
  </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="abrirDialogo(element)">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-button color="warn" (click)="eliminar(element.idcliente)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    [length]="cantidad" (page)="mostrarMas($event)">
</mat-paginator>

</div>

<br>
<button mat-fab color="accent" style="float: right; margin-right: 20px" (click)="abrirDialogo()" >
    <mat-icon>add</mat-icon>
</button>
