
<div fxLayout="column" fxLayoutAlign="space-around " fxFlex="100" *ngIf="estadoventana==true">

  <mat-card style="width: 100%;" fxLayout="row" fxLayoutAlign="space-around center" class="mat-elevation-z4" style="margin: 10px;">

    <span style="align-self: center;color: gray;">Ingrese los datos del detalle del producto</span>

    <mat-form-field  appearance="outline" style="width: 20%;margin-bottom: -20px;padding-right: 10px;">
      <mat-label>Fecha de emisión</mat-label>
      <input matInput [matDatepicker]="picker1" placeholder="dd/mm/yyyy" required
      (value)="fechaingreso" [formControl]="fechaemision">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 20%;margin-bottom: -20px;">
      <mat-label>Fecha de vencimiento</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy" required
      (value)="fechaingreso" [formControl]="fechavencimiento" readonly>
      <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-card>

  <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="20px" style="margin: 0px 10px 10px 10px;">

    <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="10px"  style="width: 100%;">

      <!-- busqueda de productos -->
      <div >
        <mat-card class="mat-elevation-z4">

          <div fxLayoutAlign="space-around center" style="color: rgb(177, 177, 177);margin-bottom: 2px;">
            <span>Busqueda de productos</span>
          </div>


            <form [formGroup]="formproducto" #busquedaForm="ngForm">
            <div fxLayoutAlign="space-around center" >
            <mat-form-field appearance="outline" style="width: 80%;">
              <mat-label>Ingrese el nombre ó código</mat-label>
              <input autofocus matInput placeholder="Nombre ó código" #search matInput formControlName="nombreocod">
            </mat-form-field>

            <button mat-raised-button color="accent" (click)="buscarproducto()" id="log" >
              <mat-icon>manage_search</mat-icon>
            </button>
            </div>
            </form>


          <div class="example-container mat-elevation-z3">
          <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">

              <ng-container matColumnDef="codigobarras">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Código </th>
                  <td mat-cell *matCellDef="let element"> {{element.codigobarras}} </td>
              </ng-container>

              <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Descripción </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>

              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Cant. </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
              </ng-container>

              <ng-container matColumnDef="fechavencimiento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> F. venc. </th>
                <td mat-cell *matCellDef="let element"
                [ngClass]="{'vencido': 1 == vencimiento(element.fechavencimiento),
                'porvencer': 2 == vencimiento(element.fechavencimiento),
                'normal': 3 == vencimiento(element.fechavencimiento) }"> {{element.fechavencimiento}} </td>
              </ng-container>

              <ng-container matColumnDef="valorunitario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> V. unitario </th>
                <td mat-cell *matCellDef="let element"> {{element.valorunitario|currency:'S/'}} </td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acciones </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;">
                      <button mat-button color="primary" (click) ="showSearch(element)" >
                      <!-- <button mat-button color="primary" (click)="addRow(element,element)" > -->
                          <mat-icon>add</mat-icon>
                      </button>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

              <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                  [length]="cantidad" (page)="mostrarMas($event)">
              </mat-paginator>

          </div>

        </mat-card>
      </div>
    </div>




    <div style="width: 100%;">
      <!-- busqueda de cliente -->
      <mat-card class="mat-elevation-z2" style="margin-bottom: 5px;">
              <div fxLayoutAlign="space-around center" style="color: rgb(177, 177, 177);margin-bottom: 2px;">
                <span>Busqueda de cliente</span>
              </div>
              <div fxLayoutAlign="space-around center" >
                <span>{{clienteseleccionado.nombresyapellidos}} - DNI: {{clienteseleccionado.dni}}</span>
                <button mat-raised-button color="accent" (click)="Buscarcliente()">
                  <mat-icon>person_search</mat-icon>
                </button>
              </div>
      </mat-card>

      <mat-card class="mat-elevation-z2">
        <div fxLayoutAlign="space-around center" style="color: rgb(177, 177, 177);margin-bottom: 10px;">
          <span>Carrito de compras</span>
        </div>

      <!-- inputmattable -->
      <div class="example-container mat-elevation-z3">

        <mat-table #table [dataSource]="dataSource5">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef class="th2" > No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.item}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef class="th2"> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.descripcion}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="preciounitario">
            <mat-header-cell *matHeaderCellDef class="th2"> P/U. </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.preciounitario|currency:'S/'}}</mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="importetotal">
            <mat-header-cell *matHeaderCellDef class="th2"> Importe </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.preciounitario * element.cantidad|currency:'S/'}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef class="th2"> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-form-field appearance="standard" floatLabel="never" style="width: 100%;color:red">
                <mat-label style="color: red;">Editar</mat-label>
                <input matInput placeholder="Symbol" type="number" [value]="element.cantidad" [(ngModel)]="element.cantidad">
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef class="th2"> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button color="warn" (click)="eliminardetalle(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns5"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns5;"></mat-row>
        </mat-table>
      </div>

      </mat-card>
      <br>
      <div class="mat-elevation-z3">
        <button mat-raised-button color="accent" (click)="verificar()" style="width: 100%;"
        routerLink='/pages/ventas/confirmacionventa'>
        <mat-icon style="padding: 15px 15px 15px 15px;">shopping_cart</mat-icon>
        Confirmar el pago</button>
      </div>
    </div>

  </div>

</div>





  <app-confirmacion
  [comprobante]="comprobante"
  (edicionventana)="agregarconfirmacion($event)"
  *ngIf="estadoventana!=true" style="width: 100%;">
  </app-confirmacion>
















