<div class="example-container">

  <mat-form-field>
      <input matInput placeholder="DNI" required [(ngModel)]="personalveterinario.dnipersonal">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nombre" required [(ngModel)]="personalveterinario.nombrespersonal">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Dirección" required [(ngModel)]="personalveterinario.direccion">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Correo" [(ngModel)]="personalveterinario.correopersonal">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Teléfono" [(ngModel)]="personalveterinario.telefonopersonal">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Area ó cargo" required [(ngModel)]="personalveterinario.areapersonal">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="fecha"
    [(ngModel)]="personalveterinario.fechanacimiento" [max]="maxFecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="botones">
    <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="operar()">Aceptar</button>
    <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
  </div>

</div>

