<div class="example-container">

  <mat-form-field color="primary" >
      <input matInput placeholder="Nombre" required [(ngModel)]="tipoafectacion.nombre">
  </mat-form-field>

  <mat-form-field color="primary" >
    <input matInput placeholder="Código" required [(ngModel)]="tipoafectacion.codigo">
  </mat-form-field>

  <mat-form-field color="primary" >
      <input matInput placeholder="Letra" required [(ngModel)]="tipoafectacion.letra">
  </mat-form-field>

  <mat-form-field color="primary" >
      <input matInput placeholder="Descripción" required [(ngModel)]="tipoafectacion.descripcion">
  </mat-form-field>

  <mat-form-field color="primary" >
    <input matInput placeholder="Tipo" required [(ngModel)]="tipoafectacion.tipo">
  </mat-form-field>

  <div class="botones">
    <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="operar()">Aceptar</button>
    <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
  </div>
</div>

