.mat-form-field{
  width: 40%;
  padding: 0  5%  0  5%;
}

.example-container{
  max-height: 500px;
}

.botones{
  margin: 5px 10px 5px 0px;
}

.buttonaceptar{
  margin: 1% 5% 1% 5%;
}

.buttoncancelar{
  margin: 1% 4% 1% 4%;
}

