<form [formGroup]="form" #consultaForm="ngForm" (ngSubmit)="aceptar()" >

  <mat-form-field style="width: 90%;">
    <input type="text" placeholder="Tipo de documento (DNI U OTROS)" matInput [matAutocomplete]="autoTipodocumento"
    [formControl]="MycontrolTipo" formControlName="tipos">

    <mat-autocomplete #autoTipodocumento="matAutocomplete" [displayWith]="mostrarTipodocumento">
        <mat-option *ngFor="let m of tipoDocumentoFiltrados$ | async" [value]="m">
            {{ m.descripcion }}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Número de DNI" maxlength="8" formControlName="dni">
  </mat-form-field>

  <div hidden= "true">
  <mat-form-field >
    <input matInput placeholder="id" formControlName="id">
  </mat-form-field>
  </div>
  <mat-form-field>
    <input matInput placeholder="Razón social (RUC)" maxlength="11" formControlName="razonsocial">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nombres y apellidos" formControlName="nombresyapellidos">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Departamento" formControlName="departamento">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Provincia" formControlName="provincia">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ditrito" formControlName="distrito">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dirección" formControlName="direccion">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Teléfono" formControlName="telefono">
  </mat-form-field>

  </form>

  <div class="botones">
    <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="aceptar()">Aceptar</button>
    <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
  </div>
