// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-light-primary: mat.define-palette(mat.$cyan-palette, 400, 200, 700);
$my-light-accent: mat.define-palette(mat.$yellow-palette, 400, A100, A400);
$my-light-warn: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-dark-primary: mat.define-palette(mat.$cyan-palette, 400, 200, 700);
$my-dark-accent: mat.define-palette(mat.$yellow-palette, 400, A100, A400);
$my-dark-warn: mat.define-palette(mat.$pink-palette, A200, A100, A400);


$my-theme-light: mat.define-light-theme($my-light-primary,$my-light-accent,$my-light-warn);
$my-theme-dark: mat.define-dark-theme($my-light-primary,$my-light-accent,$my-light-warn);

.light-theme {
  @include mat.all-component-themes($my-theme-light);
   color:rgb(36, 36, 36);
};

.dark-theme {
  @include mat.all-component-themes($my-theme-dark);
  color:white;
};

@include mat.all-component-themes($my-theme-light);

// .light-theme {
//   @include mat.angular-material-theme($my-theme-light);
//   background-color: white;
//   color:rgb(36, 36, 36);
// };

// .dark-theme {
//   @include mat.angular-material-theme($my-theme-dark);
// };
