<div class="example-container">

  <form [formGroup]="form" #consultaForm="ngForm" (ngSubmit)="aceptar()" fxLayout="row" fxLayoutAlign="space-between">

    <div hidden= "true">
    <mat-form-field >
      <input matInput placeholder="id" formControlName="id">
    </mat-form-field>
    </div>

    <mat-form-field  appearance="outline" style="width: 30%;">
      <mat-label style="color: rgb(13, 143, 148);">Serie</mat-label>
      <input matInput placeholder="Ejemplo: B001" formControlName="serie">
    </mat-form-field>

    <mat-form-field  appearance="outline" style="width: 30%;">
      <mat-label>Correlativo</mat-label>
      <input matInput placeholder="N° correlativo" type="number" formControlName="correlativo">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 40%;">
      <mat-label>Tipo de comprobante</mat-label>
      <mat-select placeholder="" [(value)]="tipocomprobanteSeleccionado"
          formControlName="tipocomprobante" required >
          <mat-option *ngFor="let t of tipocomprobantes" [value]="t.idtipocomprobante">
              {{ t.nomenclatura }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    </form>

    <div class="botones">
      <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="aceptar()">Aceptar</button>
      <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
    </div>
  </div>
