<div class="example-container">

  <mat-accordion >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="margin-bottom: 15px;">
      <mat-expansion-panel-header style="background: rgb(255, 249, 164);">
        <mat-panel-title>
          Busqueda de propietario
        </mat-panel-title>
        <mat-panel-description>
          Click para buscar al cliente
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div style="margin-top: 10px;">
        <mat-form-field appearance="outline" style="width: 30%;padding-right: 15px;">
          <mat-label>Busqueda por propietario</mat-label>
          <input matInput placeholder="Nombre o DNI" [(ngModel)]="nombreodni" >
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 30%;padding-right: 15px;">
          <mat-label>Busqueda por mascota</mat-label>
          <input matInput placeholder="Nombre del animal" [(ngModel)]="nombreanimal" >
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="buscarpaciente()">
          <mat-icon>person_search</mat-icon>
        </button>
      </div>

      <div class="mat-elevation-z2">

        <table mat-table [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="historia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N° H. </th>
                <td mat-cell *matCellDef="let element"> {{element.numerohistoria}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="cliente">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
              <td mat-cell *matCellDef="let element"> {{element.cliente.nombresyapellidos}} </td>
          </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent" (click)="agregar(element)" (click)="accordion.closeAll()">
                        <mat-icon>checked</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>

      </div>

    </mat-expansion-panel>
  </mat-accordion>



  <form [formGroup]="form" #consultaForm="ngForm" (ngSubmit)="aceptar()">

    <mat-form-field appearance="outline" >
      <input matInput placeholder="paciente" formControlName="paciente" readonly>
    </mat-form-field>

    <mat-form-field style="width: 40%;" appearance="outline">
      <mat-label>Tipos de baño</mat-label>
      <input type="text" placeholder="Busque el tipo de baño" matInput
      [matAutocomplete]="tipobanio"
      [formControl]="MycontrolTipo" formControlName="tipobanio">

      <mat-autocomplete #tipobanio="matAutocomplete" [displayWith]="mostrarTipobanio">
          <mat-option *ngFor="let m of tipobanioFiltrados$ | async" [value]="m">
              {{ m.descripcion }}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-select placeholder="Tipo de corte" formControlName="tipocorte">
        <mat-option *ngFor="let p of tipocortes" [value]="p.idtipocorte">
          {{ p.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div hidden= "true">
    <mat-form-field >
      <input matInput placeholder="id" formControlName="id">
    </mat-form-field>
    </div>

    <mat-form-field appearance="outline" >
      <mat-label>Estado visual del animal</mat-label>
      <textarea matInput type="text-area" rows="3" placeholder=""
      required formControlName="estadovisual" ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 90%;">
      <mat-label>Observaciones</mat-label>
      <input matInput placeholder="Observaciones"  formControlName="observaciones">
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-select placeholder="Estado" formControlName="estado">
        <mat-option *ngFor="let p of estadosinternos" [value]="p.descripcion">
          {{ p.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  appearance="outline" style="width: 20%;margin-bottom: -20px;padding-right: 10px;">
      <mat-label>Fecha de atención</mat-label>
      <input matInput [matDatepicker]="picker1" placeholder="dd/mm/yyyy" required
      [formControl]="fecha1" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    </form>

    <div class="botones">
      <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="aceptar()">Aceptar</button>
      <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
    </div>
  </div>

