<div fxLayout="column" style="width:100%;" fxLayoutAlign="space-around stretch">

  <div fxLayout="row" fxLayoutAlign="space-around center">

    <form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">
      <mat-form-field appearance="outline" color="warn" style="margin: 15px">
        <mat-label>Moneda</mat-label>
        <mat-select placeholder="" [(value)]="monedaSeleccionado" required
            formControlName="moneda" class="example-panel">
            <mat-option *ngFor="let u of monedas" [value]="u">
                {{ u.descripcion }}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" color="warn" style="margin: 15px">
        <mat-label>Tipo comprobante</mat-label>
        <mat-select placeholder="" (selectionChange)="filtroTipoComprobanteSerie($event)" [(value)]="tcomprobanteSeleccionado" required
            formControlName="tipocomprobante" >
            <mat-option *ngFor="let u of tcomprobantes" [value]="u">
                {{ u.nomenclatura }}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" color="warn" style="margin: 15px">
        <mat-label>Serie</mat-label>
        <mat-select placeholder="" [(value)]="serieSeleccionado" required
            formControlName="serie" >
            <mat-option *ngFor="let u of series" [value]="u">
                {{ u.serie }}
            </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around">

    <div fxLayout="column" fxLayoutAlign="space-around stretch" style="margin:15px;width: 50%;">

      <mat-card class="mat-elevation-z2" style="width: 100%;text-align: center;">
        <span style="font-size: 12px;margin-bottom: 20px;">Detalle de la venta</span>
        <span><br></span>
        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" style="width: 100%;" >

          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="per"> N° </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="per"> Cantidad </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad}} </td>
            <td mat-footer-cell *matFooterCellDef style="font-size: 12px;font-weight: bold;">Sub total: </td>
          </ng-container>

          <ng-container matColumnDef="descripcion" class="th1">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="per"> Producto </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.descripcion}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="importetotal">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="per"> Importe </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.importetotal | currency: 'S/ '}} </td>
            <td mat-footer-cell *matFooterCellDef style="font-weight: bold;"> {{getTotalCost() | currency: 'S/ '}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

        </table>

        <div class="mat-elevation-z2" fxLayoutAlign="end center" style="background: rgb(170, 255, 230); padding: 5px 20px 0px 0px; margin-bottom: -15px;">
          <span style="padding: 5px;font-weight: bold;">Descuento: </span>
          <mat-form-field appearance="outline" style="width: 15%;">
            <input matInput placeholder="Descuento" type="number" [(ngModel)]="descuento">
          </mat-form-field>
        </div>

        <div class="mat-elevation-z2" fxLayoutAlign="end center" style="background: rgb(170, 255, 230); padding: 5px 20px 0px 0px;">
          <span style="padding: 5px;font-weight: bold;">OP. GRAVADAS: {{ opgravadas|currency:"S/ "}}</span>
        </div>

        <div class="mat-elevation-z2" fxLayoutAlign="end center" style="background: rgb(170, 255, 230); padding: 5px 20px 0px 0px;">
          <span style="padding: 5px;font-weight: bold;">IGV: {{ igv|currency:"S/ "}}</span>
        </div>

        <div class="mat-elevation-z2" fxLayoutAlign="end center" style="background: rgb(255, 125, 157); padding: 10px 20px 10px 0px;">
          <span style="padding: 5px;font-weight: bold; color: white;font-size:18px;">
            IMPORTE TOTAL: {{ importetotal-descuento|currency:"S/ "}}
          </span>
        </div>
      </mat-card>


    </div>

    <div fxLayout="column" fxLayoutAlign="space-around center" style="margin: 15px;width: 45%;">

      <mat-card class="mat-elevation-z2" style="width: 100%;" fxLayoutAlign="space-around center">

        <div fxLayout="column" fxLayoutAlign="center center">
          <span style="font-size: 12px;">Monto a cobrar</span>
          <br>
          <span style="font-size: 30px;">{{ importetotal-descuento|currency:"S/ "}}</span>

          <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 40px;">
            <span style="padding: 10px;color: rgb(175, 175, 175)">Efectivo: </span>
            <mat-form-field appearance="outline" style="width: 25%;">
              <input matInput placeholder="Descuento" type="number" [(ngModel)]="efectivo">
            </mat-form-field>

            <span style="padding-left: 35%;color: rgb(175, 175, 175);">Vuelto:  </span>
            <span style="padding: 10px;font-size: 20px;color: rgb(231, 130, 130);">{{efectivo-importetotal+descuento}}</span>
          </div>

            <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 20px;border-top: 1px solid rgb(163, 163, 163);" >
              <form [formGroup]="form2" #loginForm="ngForm">
                <span style="padding: 20px;color: rgb(175, 175, 175);">Forma de pago:</span>
                <mat-form-field appearance="outline" style="width: 50%;" color="warn">
                  <mat-select placeholder="Forma de pago" formControlName="metododepago">
                    <mat-option *ngFor="let p of formasdepago" [value]="p">
                      {{ p }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <span style="padding: 20px;color: rgb(175, 175, 175);">Estado del recibo:</span>
                <mat-form-field appearance="outline" style="width: 40%;" color="warn">
                  <mat-select placeholder="Estado" formControlName="estadointerno">
                    <mat-option *ngFor="let p of estadosinternos" [value]="p.descripcion">
                      {{ p.descripcion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around" style="width: 100%;">
              <button mat-raised-button color="warn" (click)="cerrar()"
              style="color: white;width: 50%;margin: 5px;height: 70px;">
                <span class="material-icons" style="font-size: 300%;">
                  highlight_off
                </span>
                SALIR
              </button>

              <button mat-raised-button color="primary" (click)="verificar()"
              style="color: white;width: 50%;margin: 5px;">
                <span class="material-icons" style="font-size: 300%;">
                  paid
                </span>
                PAGAR
              </button>

            </div>

        </div>

      </mat-card>

    </div>

  </div>



</div>



