<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="RUC" required [(ngModel)]="proveedor.ruc">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nombre comercial" required [(ngModel)]="proveedor.nombre">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Teléfono" required [(ngModel)]="proveedor.telefono">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dirección" [(ngModel)]="proveedor.direccion">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Representante" [(ngModel)]="proveedor.representante">
  </mat-form-field>

  <div class="botones">
    <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="operar()">Aceptar</button>
    <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
  </div>

</div>

