
<div class="example-container">
<mat-accordion >
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" style="margin-bottom: 15px;">
    <mat-expansion-panel-header style="background: rgb(255, 249, 164);">
      <mat-panel-title>
        Busqueda de propietario
      </mat-panel-title>
      <mat-panel-description>
        Click para buscar al cliente
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div style="margin-top: 10px;">
      <mat-form-field appearance="outline" style="width: 50%;padding-right: 15px;">
        <mat-label>Busqueda por nombre o dni</mat-label>
        <input matInput placeholder="nombre o dni" [(ngModel)]="nombreodni" required>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="Buscarcliente()">
        <mat-icon>person_search</mat-icon>
      </button>
    </div>

    <div class="example-container mat-elevation-z2">

      <table mat-table [dataSource]="dataSource" matSort >

          <ng-container matColumnDef="idcliente">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.idcliente}} </td>
          </ng-container>

          <ng-container matColumnDef="nombresyapellidos">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
              <td mat-cell *matCellDef="let element"> {{element.nombresyapellidos}} </td>
          </ng-container>

          <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
            <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
        </ng-container>

          <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="accent" (click)="agregar(element)" (click)="accordion.closeAll()">
                      <mat-icon>checked</mat-icon>
                  </button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>

  </mat-expansion-panel>
</mat-accordion>


<form [formGroup]="form" #consultaForm="ngForm" (ngSubmit)="aceptar()" >

  <mat-form-field appearance="outline" >
    <input matInput placeholder="cliente" formControlName="cliente">
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <input matInput placeholder="numerohistoria" formControlName="numerohistoria" readonly>
  </mat-form-field>

  <div hidden= "true">
  <mat-form-field  appearance="outline" >
    <input matInput placeholder="idpacienteanimal" formControlName="idpacienteanimal">
  </mat-form-field>
  </div>
  <mat-form-field appearance="outline" >
    <input matInput placeholder="nombre" formControlName="nombre" required>
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <input matInput placeholder="raza" formControlName="raza">
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <input matInput placeholder="color" formControlName="color">
  </mat-form-field>

  <mat-form-field appearance="outline" color="warn">
    <mat-select placeholder="Esterilización" formControlName="esterilizacion">
      <mat-option *ngFor="let p of parametrica" [value]="p">
        {{ p }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" color="warn">
    <mat-select placeholder="Sexo" formControlName="sexo">
      <mat-option *ngFor="let p of sanimal" [value]="p">
        {{ p }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" color="warn">
    <mat-select placeholder="Especie" formControlName="especie">
      <mat-option *ngFor="let p of especies" [value]="p">
        {{ p }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field  appearance="outline" style="width: 40%;">
    <mat-label>Fecha de ingreso</mat-label>
    <input matInput [matDatepicker]="picker1" placeholder="dd/mm/yyyy"
    (value)="fnacimiento" [max]="maxFecha" formControlName="fechanacimiento">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  </form>

  <div class="botones">
    <button class="buttonaceptar" style="float:left" mat-raised-button color="accent" (click)="aceptar()">Aceptar</button>
    <button class="buttoncancelar" style="float:right" mat-raised-button color="warn" (click)="cerrar()">Cancelar</button>
  </div>

</div>








